.top{
    width: 100%;
    /*height: 70px;*/
    margin: 0 0 10px;
    text-align: right;
    box-shadow: 1px 1px 3px #ccc;
}

.login-btn{
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.el-menu{
    background-color: #fff;
    list-style: none;
    position: relative;
    margin: 0;
    padding-left: 0;
}

.el-menu-item{
    padding-left: 20px;
    font-size: 1vw;
    color:#303133;
    padding: 0 20px;
    cursor: pointer;
    -webkit-transition: border-color .3s,background-color .3s,color .3s;
    transition: border-color .3s,background-color .3s,color .3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 56px;
    line-height: 56px;
    position: relative;
    -webkit-box-sizing: border-box;
    white-space: nowrap;
    list-style: none;
}

.el-menu-item.is-active {
    background-color: #e8f4d0;
    border-left: 4px solid #a1cf40;
}

.aside{
    height: 410px;
    text-align: center;
}

.login-btn:focus, .login-btn:hover{
    background: #fff;
    border-color: #409eff;
    color: #409eff;
}

.el-divider{
    /*border-bottom: 1px solid #e6e6e6;;*/
}

.input-title{
    width: 80px;
    text-align: right;
    line-height: 40px;
    font-size: 14px;
    float: left;
    padding: 0 12px 0 0;
}

.input-content{
    margin-left: 80px;
    line-height: 40px;
    font-size: 14px;
}

.el-input{
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}

.el-input:focus{
    border-color:#409eff!important;
}

.el-textarea {
    display: block;
    resize: vertical;
    padding: 5px 15px;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    color: #606266;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    border-radius: 4px!important;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.el-textarea:focus{
    border-color:#409eff;
    list-style: none;
    outline:none
}

.el-button--success.is-plain {
    color: #67c23a;
    background: #f0f9eb;
    border-color: #c2e7b0;
}
.el-button--mini, .el-button--small {
    font-size: 12px!important;
    border-radius: 3px!important;
    padding: 7px 15px!important;
}
.el-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px!important;
}
.el-button--success.is-plain:focus, .el-button--success.is-plain:hover {
    background: #67c23a;
    border-color: #67c23a;
    color: #fff;
}

.el-button--success {
    color: #fff;
    background-color: #67c23a;
    border-color: #67c23a;
}

.el-active {
    background: #fff;
    border-color: #409eff;
    color: #409eff;
}

.el-button--small, .el-button--small.is-round {
    padding: 9px 15px!important;
}
.el-tip{
    font-size: 12px;
    color: #606266;
    margin-top: 7px;
    margin-left: 20px;
}

@media screen and (min-width: 0) {
    .col-xs-1 {
        width: 4.1667%;
    }

    .col-xs-10 {
        width: 91.66667%;
    }
}

@media screen and (min-width: 768px) {
    .col-sm-1 {
        width: 4.1667%;
    }

    .col-sm-10 {
        width: 91.66667%;
    }
}

@media screen and (min-width: 992px) {
    .col-md-1 {
        width: 4.1667%;
    }

    .col-md-10 {
        width: 91.66667%;
    }
}

@media screen and (min-width: 1200px) {
    .col-lg-3 {
        width: 20.83333%;
    }

    .col-lg-6 {
        width: 58.33333%;
    }
}

.row1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.row1> [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.qrcode{
    width: 200px;
    height:200px;
}

.pay-title{
    margin-top: 5px;
    font-size: 17px;
}

.paper-tips{
    border-top: 1px solid #b2b2b2;
    padding-top: 10px;
}

.paper-tips > div:first-child{
    background-color: #e02222;
    color:white;
    border-radius: 10px!important;
    padding: 1px 10px;
    width: 73px;
    margin-bottom: 5px;
}

.paper-tips > div:nth-child(2){
    font-size: 14px;
    line-height: 2;

}

.head-brand{
    display: inline;
    float: left;
    width: 80%;
    color: white;
}

.head-brand > div{
    display: inline;
    float: left;
    width: 20%;
    height: 100px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    text-align: -webkit-center;
}

.head-brand > div:nth-child(1) > div{
    background-image: url(/public/front/images/sb.png);
    background-size: 100% 100%;
}

.head-brand > div:nth-child(2) > div{
    background-image: url(/public/front/images/rz.png);
    background-size: 100% 100%;
}

.head-brand > div:nth-child(3) > div{
    background-image: url(/public/front/images/tm.png);
    background-size: 100% 100%;
}

.head-brand > div:nth-child(4) > div{
    background-image: url(/public/front/images/mj.png);
    background-size: 100% 100%;
}

.head-brand > div:nth-child(5) > div{
    background-image: url(/public/front/images/yhq.png);
    background-size: 100% 100%;
    margin-top: -10px;
    width: 90px;
    height: 100px;
    margin-bottom: 15px;
}

.brand-img{
    width: 70px;
    height: 90px;
    margin-bottom: 15px;
}

.head-visit{
    float: right;
    text-align: right;
    padding-right: 20px;
    width: 20%;
    color: white;
    height: 100px;
    margin-top: 40px;
    line-height: 50px;
}

.banner{
    background: white no-repeat center center;
    height:180px;
    background-size: cover;
    background-image: url(/public/front/images/banner.png)
}

.recent-order{
    background-color: #e8f4d0;
    height: 36px;
    line-height: 36px;
    border-left: 4px solid #a1cf40;
    padding: 0 15px;
}

.recent-order > div:nth-child(1){
    display: inline;
    float: left;
    width: 100px;
    font-size: 17px;
    font-weight: bold;
    color:#676a6c
}

.recent-order > div:nth-child(2){
    display: inline;
    float: left;
    line-height: 36px;
}

.biye-logo > div:nth-child(1){
    display: inline;
    float: left;
    width: 70%;
    text-align: left;
}

.biye-logo > div:nth-child(2){
    display: inline;
    float: right;
    width: 30%
}

.dowebok{
    font-size: 15px!important;
    line-height: 36px!important;
    background-color:transparent!important;
}
.dowebok  span{
    margin: 0 15px;
}