<!-- 该页面嵌套到layout页面中 -->
{% extends 'main.html' %}

<!-- 以下部分页面嵌套到layout的block main和endblock之间 -->
{% block main %}
<!--<link href="/public/front/plugins/verify/css/verify.css" rel="stylesheet">-->
<link href="/public/front/plugins/verify1/jigsaw.css" rel="stylesheet">
<link rel="stylesheet" href="/public/front/js/plugins/layui/css/layui.css" media="all">
<style>
    .help-block{
        line-height: 1!important;
        margin-bottom: 0!important;
    }
    .nav-tabs li{
        width: 50%
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
        border: 0;
        border-bottom: 2px solid #409eff;
    }
    .item-search{
        display: none;
    }
    .item_contact{
        display: none;
    }
</style>
<div id="app">
    <div class="main row" style="margin-top:0.2rem">
        <div class="container_center">
            <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-2">
                    <div class="aside">
                        <ul class="el-menu">
                            <li class="el-menu-item" data-url="index">
								<span>论文查重</span><div class="el-divider"></div>
							</li>
                            <li class="el-menu-item" data-url="download" id="download">
								<span>报告下载</span><div class="el-divider"></div>
							</li>
							<li class="el-menu-item is-active" data-url="news">
								<span data-url="news">行业新闻</span>
                                <div class="hy_news item-check"></div>
                            </li>
                            <li class="el-menu-item" data-url="question">
								<span>常见问题</span>
                                <div class="question_news item-search">
                                </div>
							</li>
							<li class="el-menu-item" data-url="contact">
								<span>联系我们</span>
                                <div class="el-divider item_contact" data-url="contact">企业文化</div>
							</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-10 news_fy">
                    <router-view> </router-view>
                        <div class="news_con" style="background-color: white;">
                            <ul>

                            </ul>
                        </div>

                    <!--分页开始-->
                    <div id="test1"></div>
                    <!--分页结束-->

                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

<!--<script type="text/javascript" src="/public/front/js/jquery-1.9.1.min.js"></script>-->
<script src="/public/front/plugins/zan/zan.js"></script>
<script src="/public/front/js/plugins/layui/layui.js"></script>

<!--<script src="/node_modules/vue/dist/vue.js"></script>-->
<!--<script src="/node_modules/vue-router/dist/vue-router.js"></script>-->
<!--<script src="/public/front/js/plugins/layui/lay/modules/laypage.js"></script>-->
<!--<script src="/public/front/plugins/verify/js/verify.js"></script>-->
<script src="/public/front/plugins/verify1/jigsaw.js"></script>
<script src="/public/front/js/pages/index.js"></script>
<script src="/public/front/js/pages/news.js"></script>
<!--<script src="/public/front/js/pages/main.js"></script>-->
<script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1278622305'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1278622305%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));

</script>
{% endblock %}
