<!-- 该页面嵌套到layout页面中 -->
{% extends 'main.html' %}

<!-- 以下部分页面嵌套到layout的block main和endblock之间 -->
{% block main %}
<!--<link href="/public/front/plugins/verify/css/verify.css" rel="stylesheet">-->
<link href="/public/front/plugins/verify1/jigsaw.css" rel="stylesheet">
<style>
    .help-block{
        line-height: 1!important;
        margin-bottom: 0!important;
    }
    .nav-tabs li{
        width: 50%
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
        border: 0;
        border-bottom: 2px solid #409eff;
    }
    .item-search{
        display: none;
    }
    .item_contact{
        display: none;
    }
</style>

    <div class="main row" style="margin-top:0.2rem">
        <div class="container_center">
            <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-2">
                    <div class="aside">
                        <ul class="el-menu">
                            <li class="el-menu-item" data-url="index">
								<span>论文查重</span><div class="el-divider"></div>
							</li>
                            <li class="el-menu-item" data-url="download" id="download">
								<span>报告下载</span><div class="el-divider"></div>
							</li>
							<li class="el-menu-item is-active" data-url="news">
								<span data-url="news">行业新闻</span>
                                <div class="hy_news item-check"></div>

							</li>
                            <li class="el-menu-item" data-url="question">
								<span>常见问题</span>
                                <div class="question_news item-search">
                                </div>
							</li>
							<li class="el-menu-item" data-url="contact">
								<span>联系我们</span>
                                <div class="el-divider item_contact" data-url="contact">企业文化</div>
							</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-10">
					
						<div class="news_con" style="background-color: white;">
							<ul>
<!--									<li class="clearfix" data-url="news_info">-->
<!--										<img class="pull-left" src="../../public/front/images/news_tu1.png" alt="">-->
<!--										<div class="pull-right" style="width: 70%;">-->
<!--											<div class="title">论文查重的主要算法</div>-->
<!--											<div class="content">新的一年毕业季就要到来了，大家都在准备毕业论文了，临毕业的学子都知道论文到最后会有一个论文查重的过程，这个查重过程是非常严格的，学校对论文查重会设置一个门槛，大部分学校定的都是论文的抄袭率不能高于30%，一旦重复率高于这个阀值，轻者延期毕业，重者就会被取消学位，很多同学在写论文时都会在网上参考，这就会面…</div>-->
<!--											<div class="time">-->
<!--												<span style="margin-right: 10px">2020-02-12  23:23:14</span>-->
<!--												<span>作者：毕业之家</span>-->
<!--											</div>-->
<!--										</div>-->
<!--									</li>-->

								
							</ul>
						</div>
                    <!--分页信息-->
                    <div class="page_mess">
                        <ul>
                            <li num="0" class="page_active">1</li>
                            <li num="1">2</li>
                            <li num="2">3</li>
                            <li num="3">4</li>
                            <li num="4">5</li>
                            <li num="5">6</li>
                            <li num="6">7</li>
                            <li num="7">8</li>
                            <li num="8">9</li>
                            <li num="9">10</li>

                            <div num="" class="page_next">></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <!--处理中-->
    <div class="modal fade" id="loading" role="basic" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="/public/front/img/loading-spinner-grey.gif" alt="" class="loading">
                    <span> &nbsp;&nbsp;正在处理中... </span>
                </div>
            </div>
        </div>
    </div>
    <!--微信登录弹框-->
    <div id="login-modal" class="modal fade" tabindex="-1" data-width="400" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">微信登录</h4>
                </div>
                <div class="modal-body" style="text-align: center; text-align: -webkit-center">
                    <iframe id="qrcode"  scrolling="no" width="300" height="400" frameborder="0" allowtransparency="true" sandbox="allow-scripts allow-top-navigation allow-same-origin"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!--支付二维码弹框-->
    <div id="paycode-modal" class="modal fade" tabindex="-1" data-width="400" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">扫码支付</h4>
                </div>
                <div class="modal-body" style="text-align: center; text-align: -webkit-center">
                    <div id="pay-qrcode" class="qrcode">

                    </div>
                    <div id="pay-title" class="pay-title"></div>
                </div>
            </div>
        </div>
    </div>
    <!--会员卡卡号弹框-->
    <div id="card-modal" class="modal fade" tabindex="-1" data-width="400" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">请输入会员卡信息</h4>
                </div>
                <div class="modal-body" style="text-align: center; text-align: -webkit-center">
                    <form class="card-form form-horizontal" role="form">
                        <div class="form-body">
                            <div class="form-group row">
                                <label class="control-label input-title" style="padding-top: 0!important;"><span class="required"> * </span>卡号</label>
                                <div class="input-content ">
                                    <input type="text" class="form-control el-input" placeholder="请输入会员卡卡号" name="cardno">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-danger btn-outline">取消</button>
                    <button type="submit" class="btn btn-success" id="card-submit">确认</button>
                </div>
            </div>
        </div>
    </div>
    <!--验证码弹框-->
    <div id="verify-modal" class="modal fade" tabindex="-1" data-width="400" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">验证码</h4>
                </div>
                <div class="modal-body" style="text-align: center; text-align: -webkit-center">
                    <div style="width: 400px; text-align: left; margin: 0 auto">
                        <div id="mpanel1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="/public/front/plugins/zan/zan.js"></script>
<!--<script src="/public/front/plugins/verify/js/verify.js"></script>-->
<script src="/public/front/plugins/verify1/jigsaw.js"></script>
<script src="/public/front/js/pages/index.js"></script>
<script src="/public/front/js/pages/news.js"></script>
<script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1278622305'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1278622305%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));

</script>
{% endblock %}
