<!-- 该页面嵌套到layout页面中 -->
{% extends 'main.html' %}

<!-- 以下部分页面嵌套到layout的block main和endblock之间 -->
{% block main %}

    <div class="main row" style="margin-top: 10px">
        <div class="col-lg-3 col-md-1 col-sm-1 col-xs-0"></div>
        <div class="col-lg-6 col-md-10 col-sm-10 col-xs-12">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="width: 20.83333%;">
                    <div class="aside">
                        <ul class="el-menu">
                            <li class="el-menu-item" data-url="index"><span>论文查重</span><div class="el-divider"></div></li>
                            <li class="el-menu-item" data-url="download"><span>报告下载</span><div class="el-divider"></div></li>
                            <li class="el-menu-item" data-url="brand"><span>品牌介绍</span><div class="el-divider"></div></li>
                            <li class="el-menu-item is-active" data-url="question"><span>常见问题</span><div class="el-divider"></div></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11"  style="width: 77.5%; padding-left: 0; background-color: white" >
                    <div style="padding: 20px 50px">
                        <div class="panel-group accordion" id="accordion1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--处理中-->
    <div class="modal fade" id="loading" role="basic" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="/public/front/img/loading-spinner-grey.gif" alt="" class="loading">
                    <span> &nbsp;&nbsp;正在处理中... </span>
                </div>
            </div>
        </div>
    </div>
    <!--微信登录弹框-->
    <div id="login-modal" class="modal fade" tabindex="-1" data-width="400" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">微信登录</h4>
                </div>
                <div class="modal-body" style="text-align: center; text-align: -webkit-center">
                    <iframe id="qrcode"  scrolling="no" width="300" height="400" frameborder="0" allowtransparency="true" sandbox="allow-scripts allow-top-navigation allow-same-origin"></iframe>
                </div>
            </div>
        </div>
    </div>

<script src="/public/front/plugins/counterup/jquery.counterup.min.js"></script>
<script src="/public/front/plugins/counterup/jquery.waypoints.min.js"></script>
<script src="/public/front/plugins/zan/zan.js"></script>
<script>
    var question = [
        {question:"1.论文查重检测耗时多久？", answer:"一般情况下检测耗时1-2分钟，高峰期可能5-10分钟。若超过1小时未检测完，请联系人工客服。"},
        {question:"2.论文查重的检测范围有哪些？", answer:"论文查重的检测范围包括：学术期刊总库，学位（博士，硕士，学士）论文全文数据库，会议论文全文数据库，报纸全文数据库，图书全文数据库，专利全文数据库，博客全文数据库，网络文档数据库，互联网文献数据库，英文数据库，年鉴数据库，标准库，用户共享库等。"},
        {question:"3.论文的摘要，目录，附录需要参与检测吗？", answer:"检测的时候建议去除封面，目录，附录，图片，表格，公式等内容，这些内容不包含在学校查重项之中。"},
        {question:"4.重复比例达到多少可以通过？", answer:"各学校比例限制不一，只要保证检测比例低于学校要求的最高比例即可。我们的检测结果比学校严格。"},
        {question:"5.检测如何收费？", answer:"系统按千字计费，不足1千字按1千字算。如上传1023字，系统将按照2千字计费。"},
        {question:"6.上传文章字数如何计算？", answer:"按字符数计算，空格及不可见字符除外。例如：一个汉字算一个字符，一个字母算一个字符，空格不算。"},
        {question:"7.为什么引用的内容被标红？", answer:"未被系统识别为参考文献。文档后部按照参考文献标准格式注明的文献才能被系统识别为参考文献。"},
        {question:"8.为什么我列出了很多参考文献，却识别不到？", answer:"参考文献必须使用GBT 7714-2005格式来书写，否则系统无法识别。"},
        {question:"9.为什么参考文献按标准格式书写了，但是检测的时候还是没有识别引用？", answer:"检测系统检测的相似来源中如果包含了标注的参考文献，才可以被正确识别。"},
        {question:"10.报告上面有很多复制比，以哪一个为准？", answer:"一般学校以右上角的“红章”里面显示的总复制比为准。<br>" +
                "去除引用文献复制比：去除了作者在文中标明的引用文献后，计算出来的重合文字在该检测文献中所占比例。<br>" +
                "去除本人已发表文献复制比：去除作者本人已发表文献后，所计算出来的重合文字在该检测文献中所占比例。<br>" +
                "单篇最大文字复制比：被检测文献与所有相似文献比对后，重合字数在占比最高的单篇文献中的文字复制比。"},
        {question:"11.全文标明引文报告中的不同颜色表示什么？", answer:"红色标注部分为相似内容，黄色标注部分为标明了引文的引用内容"},
        {question:"12.系统是否能检测出图书内容？", answer:"能。检测范围包含图书全文数据。"},
        {question:"13.我自己写的内容为什么也会标红？", answer:"检测系统的算法是根据文字相似度计算的，不论是否有抄袭，只要与其他文献内容雷同，即判定为相似。"},
        {question:"14.检测的论文安全吗，会被泄漏吗？", answer:"不会。整个过程系统完全自助，无人工干预，检测完成后系统自动删除原文，定期清理报告。"},
        {question:"15.检测会留痕迹吗，学校会不会发现已检测过的论文？", answer:"该检测系统不会保留用户论文，更不会标识用户论文，也不会注明每篇论文到底是第几次检测。"},
        {question:"16.该系统可以检测哪些类型文章？", answer:"所有文字内容的文献都可以使用该系统检测。"}
    ];
    var questionTab = ""
    for(var i=0; i<question.length; i++){
        questionTab += '<div class="panel panel-default">' +
            '<div class="panel-heading">' +
                '<h4 class="panel-title">' +
                    '<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_' + (i + 1) +'"> ' + question[i].question + '</a>' +
                '</h4>' +
            '</div>' +
            '<div id="collapse_' + (i + 1) + '" class="panel-collapse collapse">' +
                '<div class="panel-body">' +
                    '<p>' + question[i].answer + '</p>' +
                '</div>' +
            '</div>' +
        '</div>';
    }
    $("#accordion1").html(questionTab);
</script>
{% endblock %}
