<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- HEAD开始 -->
<head>
    <meta charset="utf-8" />
    <title>传语翻译Gramtu</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" type="image/x-icon" href="/public/back/assets/pages/img/favicon.ico" />
    <link href="/public/back/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="/public/back/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <style>
        .head{
            background-color: #0069B7;
            height: 100px;
            color: white;
            font-size: 15px;
        }

        .web-logo{
            margin-top: 20px;
            margin-left: 100px;
        }

        .menu{
            margin-top: 20px;
            text-align: center;
        }

        .menu > div{
            cursor: pointer;
            line-height: 40px;
        }

        .active {
            background-color: white;
            color: black;
            height: 40px;
        }

        a, a:hover{
            color:white;
            /*text-decoration: none;*/
            cursor: pointer;
            padding: 5px 20px;
        }

        .sub-head{
            font-size: 19.5px;
            font-weight: bold;
        }
        .sub-content{
            font-size: 14px;
            line-height: 30px;
            width: 280px;
            margin-top: 20px;
        }
    </style>
</head>

<body>
<div class="head">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6"><img class="web-logo" src="/public/back/assets/pages/img/web_logo.png"></div>
        <div class="col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="row" style="margin-top: 20px; text-align: center">
                <div class="col-md-offset-8 col-sm-4 col-md-4 col-lg-4"><a href="login">登录</a></div>
            </div>
            <div class="row menu">
                <div class="col-sm-4 col-md-4 col-lg-4 active">Turnin查重</div>
                <div class="col-sm-4 col-md-4 col-lg-4">Grammarian语法检测</div>
                <div class="col-sm-4 col-md-4 col-lg-4">安全性</div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 50px">
    <div class="col-sm-8 col-md-8 col-lg-8">
        <div id="turnin">
            <div class="row" style="margin-left: 100px">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="sub-head">
                        Turnin查重
                    </div>
                    <div class="sub-content">
                        海外留学essay/ei/sci国际期刊论文查重与学校（期刊杂志社）检测结果一致
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div style="margin-top: 100px">
                        <img src="/public/back/assets/pages/img/turnin-web.png">
                    </div>

                </div>
            </div>
        </div>
        <div id="gram" style="display: none">
            <div class="row" style="margin-left: 100px">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="sub-head">
                        Grammarian语法检测
                    </div>
                    <div class="sub-content">
                        功能强大的英文语法错误检测系统
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div style="margin-top: 100px">
                        <img src="/public/back/assets/pages/img/gram-web.png">
                    </div>

                </div>
            </div>
        </div>
        <div id="safe" style="display: none">
            <div class="row" style="margin-left: 100px">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="sub-head">
                        关于安全
                    </div>
                    <div class="sub-content" style="width: 550px">
                        不收录：与学校检测不同，Turnin查重后不会将您的文稿加入到任何存储库<br>
                        不留痕：无论检测1次还是多次，都不会留下痕迹，任何单位个人都无法得知是否提前检测。Turnin系统本身亦不会有任何相关提示。<br>
                        不泄露：网页传输采用https加密，数据存储采用DES加密， 文章句子采用指纹加密技术，无泄漏风险。<br>
                        请相信，我们非常注重您的隐私，因为您就是我们的衣食父母。<br>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div style="margin-top: 100px">
                        <img src="/public/back/assets/pages/img/safe.png">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div style="width: 226px; height: 307px; border-radius: 10px; box-shadow:  1px 1px 5px 3px #ccc; text-align: center">
            <div style="padding-top: 30px"><img src="/public/back/assets/pages/img/barcode.png"></div>
            <div style="padding-top: 10px; line-height: 25px">
                <div style="font-size: 15px">GramTu微信公众号</div>
                <div style="font-size: 14px">打开手机微信扫码关注</div>
                <div style="font-size: 13px">通过手机微信端查重检测</div>
            </div>
        </div>
    </div>
</div>

    <form action="login" style="text-align: center; display:none;">
        <button type="submit" style="margin-top: 20px; height: 100px; width: 200px; font-size: 35px">登录</button>
    </form>

<script>
    $(".menu > div:nth-child(1)").on("click", function(){
        $(this).siblings().removeClass("active");
        $(this).addClass("active");
        $("#turnin").show();
        $("#gram").hide();
        $("#safe").hide();
    });
    $(".menu > div:nth-child(2)").on("click", function(){
        $(this).siblings().removeClass("active");
        $(this).addClass("active");
        $("#turnin").hide();
        $("#gram").show();
        $("#safe").hide();
    });
    $(".menu > div:nth-child(3)").on("click", function(){
        $(this).siblings().removeClass("active");
        $(this).addClass("active");
        $("#turnin").hide();
        $("#gram").hide();
        $("#safe").show();
    });
</script>
</body>
</html>