<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- HEAD开始 -->
    <head>
        <meta charset="utf-8" />
        <title>毕业之家管理平台</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- 全局样式开始 -->
        <link href="../../public/back/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="../../public/back/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="../../public/back/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../../public/back/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- 全局样式结束 -->
        <!-- 本页插件样式开始 -->
        <link href="../../public/back/assets/pages/css/index_query.css" rel="stylesheet" type="text/css" />
        <!-- 本页插件样式结束 -->
        <!-- 全局主题样式开始 -->
        <link href="../../public/back/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="../../public/back/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- 全局主题样式结束 -->
        <!-- 主题布局样式开始 -->
        <link href="../../public/back/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="../../public/back/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="../../public/back/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" type="image/x-icon" href="/public/back/assets/pages/img/favicon.ico" />
        <!-- 主题布局样式结束 -->
        <!--[if lt IE 9]>
        <script src="../../public/back/assets/global/plugins/respond.min.js"></script>
        <script src="../../public/back/assets/global/plugins/excanvas.min.js"></script>
        <![endif]-->
        <!-- 核心插件JS开始 -->
        <script src="../../public/back/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="../../public/back/assets/global/plugins/bootstrap/js/bootstrap.js" type="text/javascript"></script>
        <!-- 核心插件JS结束 -->
        <!-- 本页页面插件JS开始 -->
        <script src="../../public/back/assets/global/plugins/jquery-validation/js/jquery.validate.js" type="text/javascript"></script>
        <script src="../../public/back/assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
        <script src="../../public/back/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <!-- 本页页面插件JS结束 -->
        <!-- 全局主题JS结束 -->
        <script src="../../public/back/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <script src="../../public/back/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
        <script src="../../public/back/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
        <script src="../../public/back/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <!-- 全局主题JS结束 -->
        <!-- HEAD结束 -->
        <script>
            //获取nodejs session中和localStorage中保存的菜单信息、权限信息。配置信息
            var menu = '{{ menu }}';
            var loginSucc = '{{ loginsucc }}';
            loginSucc = JSON.parse(loginSucc.replace(/&quot;/g, "\""));
            var token = '{{token}}';

            //根据权限做成菜单，增加或者清除class，使点击的菜单处于选中状态
            jQuery(document).ready(function(){
                if(menu != "main"){
                    var text = $('.page-sidebar-menu').find('a[href="' + menu + '"]').children('.title').text();
                    $('#menu_tips').html(text);
                }else{
                    localStorage.setItem("token", token);
                }
                makeMenu(userMenuList.menulist);
                $(".page-sidebar-menu").html(menuMake);
                if($('.page-sidebar-menu').children('.active') != $('.page-sidebar-menu').find('a[href="' + menu + '"]').parents('li.nav-item')){
                    $('.page-sidebar-menu').find('.active').removeClass("active open");
                    $('.page-sidebar-menu').find('.open').removeClass("open");
                    $('.page-sidebar-menu').find('.selected').remove();
                }
                $('.page-sidebar-menu').find('a[href="' + menu + '"]').parents('li.nav-item').addClass('active open');
                $('.page-sidebar-menu').find('a[href="' + menu + '"]').parents('li.nav-item').siblings().first().addClass('active open');
                $('.page-sidebar-menu').find('a[href="' + menu + '"]').parents().siblings('.nav-toggle').children('.arrow').addClass('open');
                $('.page-sidebar-menu').find('a[href="' + menu + '"]').parents().siblings('.nav-toggle').append('<span class="selected"></span>');
                //var text = '<li><a href="main">首页</a><i class="fa fa-circle"></i></li>';
                $("#fullname").text(loginSucc.userid);
                $("#logout").attr("href", "logout?username=" + loginSucc.userid);
            });
        </script>
    </head>
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-content-white">
        <!-- 页面头部导航栏开始 -->
        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner ">
                <!-- LOGO开始 -->
                <div class="page-logo" style="padding-left:5px; ">
                    <a href="javascript:;" id="logo">
                        <div class="logo-default" style="color: white; font-size: 15px; margin-top: 4px">
                            <img src="../../public/back/assets/pages/img/gramtu.png" style="width: 160px; margin-left: 2px;">
                        </div>
                    </a>
                    <div class="menu-toggler sidebar-toggler">
                        <span></span>
                    </div>
                </div>
                <!-- LOGO结束 -->
                <!-- 左侧菜单显示隐藏开始 -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                </a>
                <!-- 左侧菜单显示隐藏结束 -->
                <!-- 顶部导航菜单开始 -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- 下拉菜单开始 -->
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <span class="username username-hide-on-mobile"> 欢迎光临 <span id="fullname"></span> </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="javascript:;" id="password">
                                        <i class="icon-lock"></i> 修改密码 </a>
                                </li>
                                <li>
                                    <a href="logout" id="logout">
                                        <i class="icon-key"></i> 退出系统 </a>
                                </li>
                            </ul>
                        </li>
                        <!-- 下拉菜单结束 -->
                    </ul>
                </div>
                <!-- 顶部导航菜单开始结束 -->
            </div>
        </div>
        <!-- 页面头部导航栏结束 -->
        <div class="page-container">
            <!-- 页面左侧菜单开始（动态生成） -->
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse sidebar">
                    <ul class="page-sidebar-menu page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    </ul>
                </div>
            </div>
            <!-- 页面左侧菜单结束 -->
            <!-- 页面主体内容开始 -->
            <div class="page-content-wrapper">
                <div class="page-content" id="lay-out">
                    <!-- 页面导航开始 -->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="javascript:;" id="main">首页</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span id="menu_tips"></span>
                            </li>
                        </ul>
                    </div>
                    <!-- 页面导航结束 -->
                    <!-- 主体页面与导航之间的间隔开始 -->
                    <h3 class="page-title">
                        <small></small>
                    </h3>
                    <!-- 主体页面与导航之间的间隔结束 -->
                    <!-- 主体页面开始 -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            {%block main%}{%endblock%}
                        </div>
                    </div>
                    <!-- 主体页面结束 -->
                </div>
            </div>
            <!-- 页面主体内容结束 -->
            <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i>
            </a>
        </div>

        <!-- 页面底部开始 -->
        <div class="page-footer" id="ft">
            <div class="page-footer-inner"> 2020 &copy; 毕业之家 </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- 页面底部结束 -->

        <!-- 本页页面JS开始 -->
        <script src="../../public/back/assets/pages/scripts/form.js" type="text/javascript"></script>
        <script src="../../public/back/assets/pages/scripts/const.js" type="text/javascript"></script>
        <script src="../../public/back/assets/pages/scripts/common.js" type="text/javascript"></script>
        <script src="../../public/back/assets/pages/scripts/data.js" type="text/javascript"></script>
        <script src="../../public/back/assets/pages/scripts/user-rights.js" type="text/javascript"></script>
        <!--<script src="../../public/back/assets/pages/scripts/ocr.js" type="text/javascript"></script>-->
        <script src="../../public/back/assets/pages/scripts/menu.js" type="text/javascript"></script>
        <!-- 本页页面JS结束 -->
    </body>
</html>